@tailwind base;
@tailwind components;
@tailwind utilities;

.assignment-i{
  @apply p-8 mx-4 flex gap-14 bg-white text-black capitalize ;
}

.btn{
  @apply uppercase mt-4 h-10 text-white px-6 rounded-sm justify-center transition-shadow ease-out duration-500;
}

.btn:hover{
    box-shadow:  5px 5px 31px #666666,
               -5px -5px 31px #ffffff;
}

.form{
  @apply bg-blue-50 rounded-lg text-black p-6 w-96 ml-24 mt-4
}

h1{
  @apply text-3xl
}

label{
  @apply text-black text-sm
}

input{
  @apply border-2 rounded-md px-4 py-2 border-gray-400 w-full mb-2
}

.text_link{
  @apply text-[red] underline pb-14 w-full justify-center 
}

p{
  @apply my-4
}

.assignment-ii{
  @apply mx-auto justify-center items-center content-center
}

.assignment-iii{
  @apply w-[1500] h-fit border-black border-4 my-6
}

.blog-title{
  @apply m-5 ;
}

.labels{
  @apply rounded-lg text-xs border-2 text-black border-black px-2 ;
}

.link{
  @apply hidden;
}

.card{
  @apply flex gap-7 justify-between text-black
}

.blog-bg:hover{
  transform: scale(3);
}

.box:hover .link{
  @apply flex duration-1000 ease-in-out translate-x-20 translate-y-10;
  box-shadow: 8px 8px 8px rgba(99, 99, 99, 0.631);
}

.box:hover{
  box-shadow: 8px 8px 8px rgba(99, 99, 99, 0.631);
  background: #ffffff;
  /* color: gray; */
}

